<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: common-header"></head>

<body>

	<!-- Navigation -->
	<nav th:replace="fragments/common :: common-navbar"></nav>

	<!-- Page Content -->
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">ABOUT US</h1>
			<p class="lead text-muted mb-0">A few words about us and our
				policies.</p>
		</div>
	</section>
	<div class="container">
		<div class="row">
			<div class="col">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">About
							us</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<!-- /.container -->
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img class="img-fluid rounded mb-4"
					src="http://placehold.it/750x450" alt="">
			</div>
			<div class="col-lg-6">
				<h2>About TurTech</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
					voluptate nihil eum consectetur similique? Consectetur, quod,
					incidunt, harum nisi dolores delectus reprehenderit voluptatem
					perferendis dicta dolorem non blanditiis ex fugiat.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non
					velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus
					reprehenderit dolorum!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et,
					consequuntur, modi mollitia corporis ipsa voluptate corrupti eum
					ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti
					necessitatibus perspiciatis quis?</p>
			</div>
		</div>
		<div class="card" id="terms">
			<div class="card-header">
				<h3>Our Terms &amp; Conditions</h3>
			</div>
			<div class="card-body">
				<h4>Introduction</h4>

				<p>These Website Standard Terms and Conditions written on this
					webpage shall manage your use of our website, TurTech.com
					accessible at www.turtech.com.</p>

				<p>These Terms will be applied fully and affect to your use of
					this Website. By using this Website, you agreed to accept all terms
					and conditions written in here. You must not use this Website if
					you disagree with any of these Website Standard Terms and
					Conditions.</p>

				<p>Minors or people below 18 years old are not allowed to use
					this Website.</p>
				<hr />

				<h4>Intellectual Property Rights</h4>

				<p>Other than the content you own, under these Terms, TurTech
					and/or its licensors own all the intellectual property rights and
					materials contained in this Website.</p>

				<p>You are granted limited license only for purposes of viewing
					the material contained on this Website.</p>
				<hr />

				<h4>Restrictions</h4>

				<p>You are specifically restricted from all of the following:</p>

				<ul>
					<li>publishing any Website material in any other media;</li>
					<li>selling, sublicensing and/or otherwise commercializing any
						Website material;</li>
					<li>publicly performing and/or showing any Website material;</li>
					<li>using this Website in any way that is or may be damaging
						to this Website;</li>
					<li>using this Website in any way that impacts user access to
						this Website;</li>
					<li>using this Website contrary to applicable laws and
						regulations, or in any way may cause harm to the Website, or to
						any person or business entity;</li>
					<li>engaging in any data mining, data harvesting, data
						extracting or any other similar activity in relation to this
						Website;</li>
					<li>using this Website to engage in any advertising or
						marketing.</li>
				</ul>

				<p>Certain areas of this Website are restricted from being
					access by you and TurTech may further restrict access by you to any
					areas of this Website, at any time, in absolute discretion. Any
					user ID and password you may have for this Website are confidential
					and you must maintain confidentiality as well.</p>
				<hr />

				<h4>Your Content</h4>

				<p>In these Website Standard Terms and Conditions, "Your
					Content" shall mean any audio, video text, images or other material
					you choose to display on this Website. By displaying Your Content,
					you grant TurTech a non-exclusive, worldwide irrevocable, sub
					licensable license to use, reproduce, adapt, publish, translate and
					distribute it in any and all media.</p>

				<p>Your Content must be your own and must not be invading any
					third-party’s rights. TurTech reserves the right to remove any of
					Your Content from this Website at any time without notice.</p>
				<hr />

				<h4>No warranties</h4>

				<p>This Website is provided "as is," with all faults, and
					TurTech express no representations or warranties, of any kind
					related to this Website or the materials contained on this Website.
					Also, nothing contained on this Website shall be interpreted as
					advising you.</p>
				<hr />

				<h4>Limitation of liability</h4>

				<p>In no event shall TurTech, nor any of its officers, directors
					and employees, shall be held liable for anything arising out of or
					in any way connected with your use of this Website whether such
					liability is under contract. TurTech, including its officers,
					directors and employees shall not be held liable for any indirect,
					consequential or special liability arising out of or in any way
					related to your use of this Website.</p>
				<hr />

				<h4>Indemnification</h4>

				<p>You hereby indemnify to the fullest extent TurTech from and
					against any and/or all liabilities, costs, demands, causes of
					action, damages and expenses arising in any way related to your
					breach of any of the provisions of these Terms.</p>
				<hr />

				<h4>Severability</h4>

				<p>If any provision of these Terms is found to be invalid under
					any applicable law, such provisions shall be deleted without
					affecting the remaining provisions herein.</p>
				<hr />

				<h4>Variation of Terms</h4>

				<p>TurTech is permitted to revise these Terms at any time as it
					sees fit, and by using this Website you are expected to review
					these Terms on a regular basis.</p>
				<hr />

				<h4>Assignment</h4>

				<p>The TurTech is allowed to assign, transfer, and subcontract
					its rights and/or obligations under these Terms without any
					notification. However, you are not allowed to assign, transfer, or
					subcontract any of your rights and/or obligations under these
					Terms.</p>
				<hr />

				<h4>Entire Agreement</h4>

				<p>These Terms constitute the entire agreement between TurTech
					and you in relation to your use of this Website, and supersede all
					prior agreements and understandings.</p>
				<hr />

				<h4>Governing Law &amp; Jurisdiction</h4>

				<p>These Terms will be governed by and interpreted in accordance
					with the laws of the State of ua, and you submit to the
					non-exclusive jurisdiction of the state and federal courts located
					in ua for the resolution of any disputes.</p>
			</div>
		</div>

		<!-- Privacy Policy -->
		<div class="card my-4" id="privacy">
			<div class="card-header">
				<h3>Our Privacy Policy</h3>
			</div>
			<div class="card-body">
				<div class="container">
					<h4>Introduction</h4>
					<p>At TurTech.com, accessible from www.turtech.com, one of our
						main priorities is the privacy of our visitors. This Privacy
						Policy document contains types of information that is collected
						and recorded by TurTech.com and how we use it.</p>

					<p>If you have additional questions or require more information
						about our Privacy Policy, do not hesitate to contact us through
						email at turtech@gmail.com</p>
					<hr />

					<h4>Log Files</h4>

					<p>TurTech.com follows a standard procedure of using log files.
						These files log visitors when they visit websites. All hosting
						companies do this and a part of hosting services' analytics. The
						information collected by log files include internet protocol (IP)
						addresses, browser type, Internet Service Provider (ISP), date and
						time stamp, referring/exit pages, and possibly the number of
						clicks. These are not linked to any information that is personally
						identifiable. The purpose of the information is for analyzing
						trends, administering the site, tracking users' movement on the
						website, and gathering demographic information.</p>
					<hr />

					<h4>Cookies and Web Beacons</h4>

					<p>Like any other website, TurTech.com uses 'cookies'. These
						cookies are used to store information including visitors'
						preferences, and the pages on the website that the visitor
						accessed or visited. The information is used to optimize the
						users' experience by customizing our web page content based on
						visitors' browser type and/or other information.</p>
					<hr />

					<h4>Privacy Policies</h4>

					<P>You may consult this list to find the Privacy Policy for
						each of the advertising partners of TurTech.com.</p>

					<p>Third-party ad servers or ad networks uses technologies like
						cookies, JavaScript, or Web Beacons that are used in their
						respective advertisements and links that appear on TurTech.com,
						which are sent directly to users' browser. They automatically
						receive your IP address when this occurs. These technologies are
						used to measure the effectiveness of their advertising campaigns
						and/or to personalize the advertising content that you see on
						websites that you visit.</p>

					<p>Note that TurTech.com has no access to or control over these
						cookies that are used by third-party advertisers.</p>
					<hr />

					<h4>Third Party Privacy Policies</h4>

					<p>TurTech.com's Privacy Policy does not apply to other
						advertisers or websites. Thus, we are advising you to consult the
						respective Privacy Policies of these third-party ad servers for
						more detailed information. It may include their practices and
						instructions about how to opt-out of certain options. You may find
						a complete list of these Privacy Policies and their links here:
						Privacy Policy Links.</p>

					<p>You can choose to disable cookies through your individual
						browser options. To know more detailed information about cookie
						management with specific web browsers, it can be found at the
						browsers' respective websites. What Are Cookies?</p>
					<hr />

					<h4>Children's Information</h4>

					<p>Another part of our priority is adding protection for
						children while using the internet. We encourage parents and
						guardians to observe, participate in, and/or monitor and guide
						their online activity.</p>

					<p>TurTech.com does not knowingly collect any Personal
						Identifiable Information from children under the age of 13. If you
						think that your child provided this kind of information on our
						website, we strongly encourage you to contact us immediately and
						we will do our best efforts to promptly remove such information
						from our records.</p>
					<hr />

					<h4>Online Privacy Policy Only</h4>

					<p>This Privacy Policy applies only to our online activities
						and is valid for visitors to our website with regards to the
						information that they shared and/or collect in TurTech.com. This
						policy is not applicable to any information collected offline or
						via channels other than this website.</p>
					<hr />

					<h4>Consent</h4>

					<p>By using our website, you hereby consent to our Privacy
						Policy and agree to its Terms and Conditions.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer th:replace="fragments/common :: common-footer"></footer>

	<div th:replace="fragments/common :: common-bottom"></div>
</body>
</html>
