<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: common-header"></head>

<body>

	<!-- Navigation -->
	<nav th:replace="fragments/common :: common-navbar"></nav>

	<!-- Page Content -->
	<div class="container mt-3 mb-3">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group ">
					<a href="#" class="list-group-item list-group-item-action"
						data-toggle="tab" data-target="#profile"
						th:classappend="${classActiveProfile}? 'in active'">Profile</a> <a
						href="#" class="list-group-item list-group-item-action"
						data-toggle="tab" data-target="#orders"
						th:classappend="${classActiveOrders}? 'active'">Orders</a> <a
						href="#" class="list-group-item list-group-item-action"
						data-toggle="tab" data-target="#billing"
						th:classappend="${classActiveBilling}? 'active'">Billing</a> <a
						href="#" class="list-group-item list-group-item-action"
						data-toggle="tab" data-target="#shipping"
						th:classappend="${classActiveShipping}? 'active'">Shipping</a>
				</div>
			</div>
			
			<!-- User profile information -->
			<div class="tab-content col-md-9">
				<div role="tabpanel"
					 class="tab-pane fade"
					 id="profile"
					 th:classappend="${classActiveProfile}? 'show active'">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Your Profile</h4>
									<div class="alert alert-danger" th:if="${incorrectPassword}">
										<strong>Incorrect Password!</strong> Please enter the correct
										password for the current user.
									</div>
									<div class="alert alert-success" th:if="${updateSuccess}">
										<strong>Update Success!</strong>
									</div>
									<div class="alert alert-info" th:if="${updateUserInfo}">User
										info updated.</div>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<form th:action="@{/updateUserInfo}"
										  th:object="${user}"
										  method="post">
										<input type="hidden"
											   th:field="*{id}"
											   th:value="${user.id}" />

										<div class="form-group row">
											<label for="username" class="col-4 col-form-label">Username:</label>
											<div class="col-8">
											<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">
													<i class="fa fa-user fa-fw"></i></span>
											</div>
												<input id="username"
													   th:field="*{username}"
													   class="form-control here"
													   required="required" type="text"
													   th:value="${user.username}">
													</div>
											</div>
										</div>
										<div class="form-group row">
											<label for="name" class="col-4 col-form-label">First
												Name:</label>
											<div class="col-8">
												<input id="name"
													   th:field="*{firstName}"
													   class="form-control here"
													   type="text"
													   th:value="${user.firstName}">
											</div>
										</div>
										<div class="form-group row">
											<label for="lastName" class="col-4 col-form-label">Last
												Name:</label>
											<div class="col-8">
												<input id="lastName"
													   th:field="*{lastName}"
													   class="form-control here"
													   type="text"
													   th:value="${user.lastName}">
											</div>
										</div>
										<div class="form-group row">
											<label for="email" class="col-4 col-form-label">Email
												address:</label>
											<div class="col-8">
											<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i
													class="fa fa-envelope fa-fw"></i></span>
											</div>
												<input id="email"
													   th:field="*{email}"
													   class="form-control here"
													   required="required"
													   type="text"
													   th:value="${user.email}">
											</div>
													<small class="form-text text-muted">A valid email address. All
													emails from the system will be sent to this address. The
													email address is not made public and will only be used if
													you wish to receive a new password or wish to receive
													certain notifications.</small>
											</div>
										</div>
										<div class="form-group row">
											<label for="phone" class="col-4 col-form-label">Phone
												number:</label>
											<div class="col-8">
											<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i
													class="fa fa-phone fa-fw"></i></span>
											</div>
												<input id="phone"
													   th:field="*{phone}"
													   class="form-control here"
													   type="tel"
													   pattern="\\+380|0)[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
													   th:value="${user.phone}">
													</div>
													<small class="form-text text-muted">Pattern: (+380|0)XX-XXX-XX-XX</small>
											</div>
										</div>
										<div id="checkPasswordEdit" style="display: none;" class="alert alert-danger">Passwords do not match!</div>
										<div class="form-group row">
											<label for="newPasswordEdit" class="col-4 col-form-label">New
												Password:</label>
											<div class="col-8">
											<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i
													class="fa fa-lock fa-fw"></i></span>
											</div>
												<input id="newPasswordEdit"
													   name="newPassword"
													   placeholder="New Password"
													   class="form-control here"
													   type="password">
													</div>
											</div>
										</div>
										<div class="form-group row">
											<label for="confirmPasswordEdit" class="col-4 col-form-label">Confirm
												New Password:</label>
											<div class="col-8">
											<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i
													class="fa fa-lock fa-fw"></i></span>
											</div>
												<input id="confirmPasswordEdit"
													   placeholder="Confirm New Password"
													   class="form-control"
													   type="password">
													</div>
											</div>
										</div>
										<div class="form-group row">
											<label for="currentPassword" class="col-4 col-form-label">Current
												Password:</label>
											<div class="col-8">
											<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text"><i
													class="fa fa-unlock-alt fa-fw"></i></span>
											</div>
												<input id="currentPassword"
													   th:field="*{password}"
													   placeholder="Current Password"
													   class="form-control"
													   type="password">
													</div>
													<small class="form-text text-muted">Enter your current password to
													change the email address or password.</small>
											</div>
										</div>
										<div class="form-group row">
											<div class="offset-4 col-8">
												<button name="submit" type="submit" class="btn btn-primary">Update
													My Profile</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Orders information -->
				<div role="tabpanel" class="tab-pane fade" id="orders"
					th:classappend="${classActiveOrders}? 'show active'">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Orders</h4>
									<div class="alert alert-info"
										th:if="${orderList == null or orderList.isEmpty()}">No
										orders yet :(</div>
									<hr>
								</div>
							</div>
							<table class="table table-sm table-inverse">
								<thead>
									<tr>
										<th>Order Date</th>
										<th>Order Number</th>
										<th>Total</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="order : ${orderList}">
										<td><a th:href="@{/orderDetail(id=${order.id})}"><span
												th:text="${order.orderDate.toLocalDate()}"></span></a></td>
										<td data-th-text="${order.id}"></td>
										<td data-th-text="${order.orderTotal}"></td>
										<td data-th-text="${order.orderStatus}"></td>
									</tr>
								</tbody>
							</table>

							<div th:if="${displayOrderDetail}">
								<div class="row">
									<div class="col-12">
										<div class="text-center">
											<h4>
												Order Details for Purchase #<span th:text="${order.id}"></span>
											</h4>
										</div>
										<hr />

										<div class="row">
											<div class="col-4">
												<div class="panel panel-default height">
													<div class="panel-heading">
														<strong>Billing Details</strong>
													</div>
													<div class="panel-body">
														<span th:text="${order.billingAddress.billingAddressName}"></span><br />
														<span
															th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br />
														<span th:text="${order.billingAddress.billingAddressCity}"></span><br />
														<span
															th:text="${order.billingAddress.billingAddressZipcode}"></span><br />
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="panel panel-default height">
													<div class="panel-heading">
														<strong>Payment Information</strong>
													</div>
													<div class="panel-body">
														<span th:text="${order.payment.holderName}">Card
															Name</span><br /> <span th:text="${order.payment.cardNumber}">Card
															Number</span><br /> <span>Exp Date:</span><span
															th:text="${order.payment.expiryMonth}"></span>/<span
															th:text="${order.payment.expiryYear}"></span><br />
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="panel panel-default height">
													<div class="panel-heading">
														<strong>Billing Details</strong>
													</div>
													<div class="panel-body">
														<span
															th:text="${order.shippingAddress.shippingAddressName}"></span><br />
														<span
															th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br />
														<span
															th:text="${order.shippingAddress.shippingAddressCity}"></span><br />
														<span
															th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="panel-heading">
											<h5 class="text-center">
												<strong>Order Summary</strong>
											</h5>
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table table-condensed">
													<thead>
														<tr>
															<td><strong>Item Name</strong></td>
															<td class="text-center"><strong>Item Price</strong></td>
															<td class="text-center"><strong>Item
																	Quantity</strong></td>
															<td class="text-center"><strong>Total</strong></td>
														</tr>
													</thead>
													<tbody>
														<tr th:each="cartItem : ${cartItemList}">
															<td data-th-text="${cartItem.product.name}"></td>
															<td class="text-center"
																data-th-text="${cartItem.product.ourPrice}"></td>
															<td class="text-center" data-th-text="${cartItem.qty}"></td>
															<td class="text-center"
																data-th-text="${cartItem.subtotal}"></td>
														</tr>
														<tr>
															<td class="highrow"></td>
															<td class="highrow"></td>
															<td class="highrow text-right"><strong>Subtotal</strong></td>
															<td class="highrow text-right"
																data-th-text="${order.orderTotal}"></td>
														</tr>
														<tr>
															<td class="emptyrow"></td>
															<td class="emptyrow"></td>
															<td class="emptyrow text-right"><strong>Tax</strong></td>
															<td class="emptyrow text-right"
																data-th-text="${#numbers.formatDecimal(order.orderTotal*0.06,0,2)}"></td>
														</tr>
														<tr>
															<td class="emptyrow"><i class="fa fa-barcode fa-2x"></i></td>
															<td class="emptyrow"></td>
															<td class="emptyrow text-right"><strong>Total</strong></td>
															<td
																th:with="total=${order.orderTotal+order.orderTotal*0.06}"
																data-th-text="${#numbers.formatDecimal(total, 0, 2)}"
																class="emptyrow text-right"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Billing information -->
				<div role="tabpanel" class="tab-pane fade" id="billing"
					th:classappend="${classActiveBilling}? 'show active'">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Billing</h4>
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a
											th:href="@{/listOfCreditCards}"
											th:style="${listOfCreditCards}? 'color:grey'">List of
												Credit Cards</a></li>
										<li class="breadcrumb-item"><a
											th:href="@{/addNewCreditCard}"
											th:style="${addNewCreditCard}? 'color:grey'">Add(Update)
												Credit Card</a></li>
									</ol>
									<hr>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div th:if="${listOfCreditCards}">
										<form th:action="@{/setDefaultPayment}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>Default</th>
														<th>Credit Card</th>
														<th>Operations</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userPayment : ${userPaymentList}">
														<td><input type="radio" th:field="*{defaultUserPaymentId}"
															th:value="${userPayment.id}"
															th:checked="${userPayment.defaultPayment}" /></td>
														<td th:text="${userPayment.cardName}"></td>
														<td><a
															th:href="@{/updateCreditCard(id=${userPayment.id})}"><i
																class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
															th:href="@{/removeCreditCard(id=${userPayment.id})}"><i
																class="fa fa-times"></i></a></td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-primary" type="submit">Save</button>
										</form>
									</div>

									<div th:if="${addNewCreditCard}">
										<form th:action="@{addNewCreditCard}"
											  method="post">
											<div class="bg-info" th:if="${updateUserPaymentInfo}">User
												info updated.</div>

											<input hidden="hidden" name="id" th:value="${userPayment.id}" />

											<div class="form-group">
												<h5>* Give a name for your card:</h5>
												<input type="text" class="form-control" id="cardName"
													placeholder="Card Name" th:name="cardName"
													required="required" th:value="${userPayment.cardName}" />
											</div>

											<!-- Billing Address -->
											<hr />
											<div class="form-group">
												<h4>Billing Address</h4>
											</div>
											<div class="form-group">
												<label for="billingName">* Name</label> <input type="text"
													class="form-control" id="billingName"
													placeholder="Receiver Name" th:name="userBillingName"
													required="required"
													th:value="${userBilling.userBillingName}" />
											</div>
											<div class="form-group">
												<label for="billingAddress">* Street Address</label> <input
													type="text" class="form-control" id="billingAddress"
													placeholder="Street Address 1" th:name="userBillingStreet1"
													required="required"
													th:value="${userBilling.userBillingStreet1}" /> <input
													type="text" class="form-control mt-2" id="billingAddress"
													placeholder="Street Address 2" th:name="userBillingStreet2"
													th:value="${userBilling.userBillingStreet2}" />
											</div>

											<div class="row">
												<div class="col-4">
													<div class="form-group">
														<label for="billingCity">* City</label> <input type="text"
															class="form-control" id="billingCity"
															placeholder="Billing city" th:name="userBillingCity"
															required="required"
															th:value="${userBilling.userBillingCity}" />
													</div>
												</div>
												<div class="col-4">
													<div class="form-group">
														<label for="billingZipcode">* Zipcode</label> <input
															type="text" class="form-control" id="billingZipcode"
															placeholder="Billing Zipcode"
															th:name="userBillingZipcode" required="required"
															th:value="${userBilling.userBillingZipcode}" />
													</div>
												</div>
											</div>
											
											<div class="form-group">
												<label for="country">* Country</label> <input
													type="text" class="form-control" id="country"
													placeholder="Country" th:name="userBillingCountry"
													required="required"
													th:value="${userBilling.userBillingCountry}" />
											</div>

											<!-- Credit Card Information -->
											<hr />
											<div class="form-group">
												<h4>Credit Card Information</h4>
											</div>
											<div class="row">
												<div class="col-12">
													<div class="form-group">
														<label for="cardType">* Select Card Type:</label> <select
															class="form-control" id="cardType" th:name="type"
															th:value="${userPayment.type}">
															<option value="visa">Visa</option>
															<option value="mastercard">Mastercard</option>
														</select>
													</div>
													<div class="form-group">
														<label for="cardHolder">* Card Holder Name:</label>
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text"><i
																	class="fa fa-user fa-fw"></i></span>
															</div>
															<input type="text" class="form-control" id="cardHolder"
																required="required" placeHolder="Card Holder Name"
																th:name="holderName"
																th:value="${userPayment.holderName}" />
														</div>
													</div>
													<div class="form-group">
														<label for="cardNumber">* Card Number:</label>
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text"><i
																	class="fa fa-credit-card fa-fw"></i></span>
															</div>
															<input type="tel" class="form-control" id="cardNumber"
																required="required" placeHolder="Valid Card Number"
																th:name="cardNumber"
																th:value="${userPayment.cardNumber}" />
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-8">
													<div class="form-group">
														<label><span class="hidden-xs">Expiration</span> </label>
														<div class="form-inline">
															<select class="form-control" name="expiryMonth"
																required="required"
																th:value="${userPayment.expiryMonth}" style="width: 45%">
																<option disabled="disabled">-- Month --</option>
																<option value="01">Jan (01)</option>
																<option value="02">Feb (02)</option>
																<option value="03">Mar (03)</option>
																<option value="04">Apr (04)</option>
																<option value="05">May (05)</option>
																<option value="06">June (06)</option>
																<option value="07">July (07)</option>
																<option value="08">Aug (08)</option>
																<option value="09">Sep (09)</option>
																<option value="10">Oct (10)</option>
																<option value="11">Nov (11)</option>
																<option value="12">Dec (12)</option>
															</select> <span style="width: 10%; text-align: center"> / </span>
															<select class="form-control" name="expiryYear"
																th:value="${userPayment.expiryYear}" style="width: 45%">
																<option disabled="disabled">-- Year --</option>
																<option value="19">2019</option>
																<option value="20">2020</option>
																<option value="21">2021</option>
																<option value="22">2022</option>
																<option value="23">2023</option>
																<option value="23">2024</option>
																<option value="23">2025</option>
																<option value="23">2026</option>
																<option value="23">2027</option>
																<option value="23">2028</option>
																<option value="23">2029</option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label for="cardCVC">* CV Code</label> <input id="cardCVC"
															type="tel" class="form-control" name="cvc"
															placeholder="CVC" th:name="cvc"
															required="required"
															th:value="${userPayment.cvc}" />
													</div>
													<!-- form-group.// -->
												</div>
											</div>
											<!-- row.// -->
											<hr />
											<button type="submit" class="btn btn-primary btn-lg">Save
												All</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Shipping information -->
				<div role="tabpanel" class="tab-pane fade" id="shipping"
					th:classappend="${classActiveShipping}? 'show active'">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<h4>Shipping</h4>
									<ol class="breadcrumb">
										<li class="breadcrumb-item active"><a
											th:href="@{/listOfShippingAddresses}"
											th:style="${listOfShippingAddresses}? 'color:grey'">List
												of Shipping Addresses</a></li>
										<li class="breadcrumb-item active"><a
											th:href="@{/addNewShippingAddress}"
											th:style="${addNewShippingAddress}? 'color:grey'">Add(Update)
												Shipping Address</a></li>
									</ol>
									<hr>
								</div>
							</div>
							<div th:if="${listOfShippingAddresses}">
								<form th:action="@{/setDefaultShippingAddress}" method="post">
									<table class="table">
										<thead>
											<tr>
												<th>Default</th>
												<th>Shipping Address</th>
												<th>Operations</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="userShipping : ${userShippingList}">
												<td><input type="radio" name="defaultShippingAddressId"
													th:value="${userShipping.id}"
													th:checked="${userShipping.userShippingDefault}" /><span>default</span></td>
												<td
													th:text="${userShipping.userShippingStreet1}+', '+
														${userShipping.userShippingCity}"></td>
												<td><a
													th:href="@{/updateUserShipping(id=${userShipping.id})}"><i
														class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
													th:href="@{/removeUserShipping(id=${userShipping.id})}"><i
														class="fa fa-times"></i></a></td>
											</tr>
										</tbody>
									</table>
									<button class="btn btn-primary" type="submit">Save</button>
								</form>
							</div>

							<div th:if="${addNewShippingAddress}">
								<form th:action="@{/addNewShippingAddress}" method="post">
									<div class="bg-info" th:if="${updateUserShippingInfo}">User
										info updated.</div>

									<input hidden="hidden" name="id" th:value="${userShipping.id}" />

									<!-- Shipping Address -->
									<hr />
									<div class="form-group">
										<h4>Shipping Address</h4>
									</div>
									<div class="form-group">
										<label for="shippingName">* Name</label> <input type="text"
											class="form-control" id="shippingName"
											placeholder="Receiver Name" th:name="userShippingName"
											required="required"
											th:value="${userShipping.userShippingName}" />
									</div>
									<div class="form-group">
										<label for="shippingAddress">* Street Address</label> <input
											type="text" class="form-control" id="shippingAddress"
											placeholder="Street Address 1" th:name="userShippingStreet1"
											required="required"
											th:value="${userShipping.userShippingStreet1}" /> <input
											type="text" class="form-control mt-2"
											placeholder="Street Address 2" th:name="userShppingStreet2"
											th:value="${userShipping.userShippingStreet2}" />
									</div>

									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label for="shippingCity">* City</label> <input type="text"
													class="form-control" id="shippingCity"
													placeholder="Shipping City" th:name="userShippingCity"
													required="required"
													th:value="${userShipping.userShippingCity}" />
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label for="shippingZipcode">* Zipcode</label> <input
													type="text" class="form-control" id="shippingZipcode"
													placeholder="Shipping Zipcode"
													th:name="userShippingZipcode" required="required"
													th:value="${userShipping.userShippingZipcode}" />
											</div>
										</div>
									</div>
									
									<div class="form-group">
												<label for="country">* Country</label> <input
													type="text" class="form-control" id="country"
													placeholder="Country" th:name="userShippingCountry"
													required="required"
													th:value="${userShipping.userShippingCountry}" />
											</div>

									<hr />
									<button type="submit" class="btn btn-primary btn-lg">Save
										All</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer th:replace="fragments/common :: common-footer"></footer>

	<div th:replace="fragments/common :: common-bottom"></div>
</body>
</html>